<html>
<head>
<title>Business Tech Labs</title>
<link href="../css/style.css" rel="stylesheet" type="text/css"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" rel="javascript" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" rel="javascript" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" rel="javascript" type="text/javascript"></script>
</head>
<body>
<section id="navbar">
<nav class="navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" href="#"><img src="images/logo.png"/></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
		<li class="nav-item active">
        <a class="nav-link topnav" href="#" style="color:#2e7bcf;"></i> <input type="text" placeholder=" Search"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:#2e7bcf;"><i class="fa fa-heart"></i> &nbsp;Tracked</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" style="color:#2e7bcf;"><i class="fa fa-user"></i> &nbsp;Compare</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#about" style="color:#2e7bcf;"><i class="fa fa-phone"></i> &nbsp;Contact</a>
      </li>

    </ul>
  </div>
</nav>
</section>
<section id="slider">
<div id="headerslider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/slidernew.jpg" class="d-block img-fluid"/>
    </div>
  </div>
</div>
</section>
<center>
<section id="content" style="height:0px;">
<rma-search-v2 ng-class="::$ctrl.styles.search" class="ng-isolate-scope search--13uGo"><div ng-class="{ 'overlayStyles--1ZsRg': $ctrl.isInOverlay}" rma-search-keyboard-scroller="" rma-off-click-hides-dropdown="">

  <!-- ngIf: ::$ctrl.showSalesLeasingToggles --><rma-sales-leasing-toggle-v2 ng-if="::$ctrl.showSalesLeasingToggles" is-in-overlay="::$ctrl.isInOverlay" class="ng-scope ng-isolate-scope">
</rma-sales-leasing-toggle-v2><!-- end ngIf: ::$ctrl.showSalesLeasingToggles -->
  
  <div  style="height:200px;" ng-class="$ctrl.styles.searchBox" ng-style="$ctrl.transparentBackground &amp;&amp; {'background-color': 'transparent'}" class="searchBox--3qF-P">
    <!-- ngIf: ::$ctrl.showUserTypeToggles --><rma-user-type-toggle-v2 ng-if="::$ctrl.showUserTypeToggles" is-sales-mode="$ctrl.isSalesMode" is-in-overlay="$ctrl.isInOverlay" is-mortgage-broker-mode="$ctrl.isMortgageBrokerMode" enable-location-search="$ctrl.enableLocationSearch" analytics-info="$ctrl.analyticsInfo" class="ng-scope ng-isolate-scope"><!-- ngIf: !$ctrl.isMortgageBrokerMode --><div ng-if="!$ctrl.isMortgageBrokerMode" ng-class="[$ctrl.styles.filterButtonWrapper, {'overlayStyles--1K2Bg': $ctrl.isInOverlay}]" class="ng-scope filterButtonWrapper--lpYgZ">
  
  <!-- LOCATIONS -->
  <!-- ngIf: $ctrl.enableLocationSearch --><button style="color:#2e7bcf;border:1px solid #2e7bcf;" type="button" ng-if="$ctrl.enableLocationSearch" class="btn ng-scope filterButton--2GM5X" ng-class="[$ctrl.styles.filterButton, {'filterButtonActive--3eakv': $ctrl.isSearchType($ctrl.searchTypeLocation)}]" ng-click="$ctrl.toggleSearch($ctrl.searchTypeLocation)" analytics-on="" analytics-category="Consumer Interaction" analytics-event="Sales Location toggle" analytics-label="Homepage banner">Locations</button><!-- end ngIf: $ctrl.enableLocationSearch -->

  <!-- AGENTS -->
  <!-- ngIf: $ctrl.isSalesMode --><button style="color:#2e7bcf;border:1px solid #2e7bcf;" type="button" ng-if="$ctrl.isSalesMode" class="btn ng-binding ng-scope filterButton--2GM5X filterButtonActive--3eakv" ng-class="[$ctrl.styles.filterButton, {'filterButtonActive--3eakv': $ctrl.isSearchType($ctrl.searchTypeAgent)}]" ng-click="$ctrl.toggleSearch($ctrl.searchTypeAgent)" analytics-on="" analytics-category="Consumer Interaction" analytics-event="Sales Agent toggle" analytics-label="Homepage banner">Agents</button><!-- end ngIf: $ctrl.isSalesMode -->

  <!-- AGENCIES -->
  <button type="button" style="color:#2e7bcf;border:1px solid #2e7bcf;" class="btn ng-binding filterButton--2GM5X" ng-class="[$ctrl.styles.filterButton, {'filterButtonActive--3eakv': $ctrl.isSearchType($ctrl.searchTypeAgency)}]" ng-click="$ctrl.toggleSearch($ctrl.searchTypeAgency)" analytics-on="" analytics-category="Consumer Interaction" analytics-event="Sales Agency toggle" analytics-label="Homepage banner">Agencies</button>
</div><!-- end ngIf: !$ctrl.isMortgageBrokerMode -->
</rma-user-type-toggle-v2><!-- end ngIf: ::$ctrl.showUserTypeToggles -->
    
    <rma-search-bar-v2 ng-class="$ctrl.styles.searchArea" dismiss-modal="$ctrl.dismissModal" is-in-overlay="$ctrl.isInOverlay" on-search-result-selected="$ctrl.onSearchResultSelected(url)" class="ng-isolate-scope searchArea--lTY6P"><div ng-class="[$ctrl.styles.searchArea, {'overlayStyles--w9lHc' : $ctrl.isInOverlay}]" class="searchArea--2ZQZB">
  <div ng-class="$ctrl.styles.searchBar" class="searchBar--2pfhV" style="border:5px solid #2e7bcf;">
    <!-- note: name is referenced by rma-search-keyboard-scroller -->
    <input name="search-input" type="search" ng-class="$ctrl.styles.searchInput" placeholder="Search for agent...." ng-model="$ctrl.searchTerm" ng-change="$ctrl.searchChanges.next($ctrl.searchTerm)" ng-focus="$ctrl.canShowDropdown = true" autocomplete="off" autocorrect="off" spellcheck="false" autofocus="" class="ng-pristine ng-valid ng-empty searchInput--2wBWz ng-touched">
    <!-- ngIf: $ctrl.searchTerm -->
  </div>
  <div name="response-area" ng-class="$ctrl.styles.responseArea" class="responseArea--2s1sm">
    <!-- ngIf: $ctrl.isInOverlay -->
    <!-- ngIf: $ctrl.canShowDropdown && ($ctrl.searchTerm || $ctrl.isSearching) -->
  </div>
</div>
</rma-search-bar-v2>
  </div>
</div>
</rma-search-v2>
</section>
</section>
</center>
<section id="hiring">	
	<div class="container">
		<div class="row hiring">
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-gift"></i>
				</div>
				<h3> &nbsp;&nbsp;&nbsp;+675</h3>
				<p> &nbsp; &nbsp; &nbsp; Products</p>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-apple"></i>
				</div>
				<h3> &nbsp;&nbsp;&nbsp;+936</h3>
				<p>  &nbsp; &nbsp; &nbsp; Brands</p>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-user"></i>
				</div>
				<h3> &nbsp;&nbsp;&nbsp;+378</h3>
				<p> &nbsp; &nbsp; &nbsp; Customers</p>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon">
					<i class="fa fa-shopping-cart"></i>
				</div>
				<h3> &nbsp;&nbsp;&nbsp;+524</h3>
				<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Business Partners</p>
			</div>
		</div>
	</div>
</section>
<section id="team">
	<div class="container">
		<div class="row" style="color:#2e7bcf;">
			<div class="col-md-4 profile-pic text-center">
				<div class="img-box">
					<img src="images/founder.jpg" class="img-responsive"/>
					<ul>
						<a href="#"><li><i class="fa fa-facebook"></i></li></a>
						<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						<a href="#"><li><i class="fa fa-linkedin"></i></li></a>
						<a href="#"><li><i class="fa fa-envelope"></i></li></a>
					</ul>
				</div>
				<h2>Ponting</h2>
				<h3>Founder</h3>
				<p><i style="color:#2e7bcf;">"Our aim is to give Quality Services with full user satisfaction."</i></p>
			</div>
			<div class="col-md-4 profile-pic text-center">
				<div class="img-box">
					<img src="images/ceo.jpg" class="img-responsive"/>
					<ul>
						<a href="#"><li><i class="fa fa-facebook"></i></li></a>
						<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						<a href="#"><li><i class="fa fa-linkedin"></i></li></a>
						<a href="#"><li><i class="fa fa-envelope"></i></li></a>
					</ul>
				</div>
				<h2>Jennifer</h2>
				<h3>CEO</h3>
				<p><i style="color:#2e7bcf;">"We work to create employment for  young engineers."</i></p>
			</div>
			<div class="col-md-4 profile-pic text-center">
				<div class="img-box">
					<img src="images/director.jpg" class="img-responsive"/>
					<ul>
						<a href="#"><li><i class="fa fa-facebook"></i></li></a>
						<a href="#"><li><i class="fa fa-twitter"></i></li></a>
						<a href="#"><li><i class="fa fa-linkedin"></i></li></a>
						<a href="#"><li><i class="fa fa-envelope"></i></li></a>
					</ul>
				</div>
				<h2>Watson</h2>
				<h3>Director</h3>
				<p><i style="color:#2e7bcf;">"Meeting customer's acceptation is our first priority."</i></p>
			</div>
		</div>
	</div>
</section>
<section id="footer">
<div id="contact" class="py-7">
    <div class="container">
        <h1 class="text-center mb-5">Get In Touch</h1>
        <div class="row">
            <div class="col-sm text-center">
                <i class="fa fa-hourglass" style="font-size:30px;"></i>
                <h3 class="mt-3">Operating Hours</h3>
                <time datetime="2008-02-14">
                    <p>Monday to Saturday
                        <br>08h00 - 17h00 (UTC+02:00)</p>
                </time>
            </div>
            <div class="col-sm text-center">
                <i class="fa fa-road" style="font-size:30px;"></i>
                <h3 class="mt-3">Physical Address</h3>
                <address>
                    <p> Office: 3 Good street
					<br>
					Parramatta, NSW 2150
                    </p>
                </address>
            </div>
            <div class="col-sm text-center">
                <i class="fa fa-phone" style="font-size:30px;"></i>
                <h3 class="mt-3">Contact Details</h3>
                <p>+61-044-968-4905
                    <br>
                    contact@BusinessTechLabs.com
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<footer class="main-footer">
    <div class="container">
        <p class="text-center">
            <a href="https://github.com/naveendahiya/">
                <i class="fa fa-github" style="font-size:30px;color:white;"></i>
            </a>
        </p>
        <p class="text-center">
            Copyright © Business Tech AU PTY LTD
        </p>
    </div>
</footer>
</section>
</body>
</html>	